* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* border: 1px solid red; */
}


body {
    width: 100%;
    min-height: 100vh;

    padding: 20px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    background-color: #F3F0E7;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    text-fill-color: black !important;
}

input:-moz-autofill {
    box-shadow: 0 0 0 1000px white inset !important;
    text-fill-color: black !important;
}