.login_page_div {
    background-color: #5292e5;
    color: white;

    padding: 20px 15px;
    border-radius: 15px;

    max-width: 350px;
    width: 100%;

    max-height: 550px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 7px 9px 10px 1px rgba(7, 0, 0, 0.2);
}

.login_page_div .heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.login_page_div .heading::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 5px 10px;
}

.login_page_div .para {
    font-size: 14px;
    margin: 0px 10px;
    margin-bottom: 20px;
}


.login_page_div .image_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login_page_div .image {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.login_page_div .input_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;

    margin: 5px 0px;
    border-radius: 15px;
    padding: 5px 10px;
}

.login_page_div .input_div:hover {
    border: 1px solid black;
}

.login_page_div .icon {
    color: rgb(27, 24, 24);
}

.login_page_div .input_field {
    width: 100%;
    padding: 5px 7px;
    border: none;
}

.login_page_div .input_field:focus {
    outline: none;
}

.login_page_div .button {

    font-weight: bold;
    font-size: 18px;
    width: 100%;

    padding: 15px 20px;
    margin-bottom: 8px;
    margin-top: 10px;

    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: #fad97d;
    border: 2px solid #fad97d;

}

.login_page_div .button:hover {
    border: 2px solid black;
}

.login_page_div .para2 {
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
}

.forgot_password_div {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.forgot_password_div .forgot_password_link{
    font-size: 12px;
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.anchor_tag{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
